<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/Mobile/css")
    @Scripts.Render("~/bundles/jquerymobile")
</head>
<body>
    <div data-type="header" data-position="fixed">
        <h1>I'm the header</h1>
        <div data-role="navbar">
            <ul>
                <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                <li>@Html.ActionLink("Info", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div data-role="footer" data-position="fixed">
            <p>&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
